/*
 * Yimeng_You_Assignment4
 */


rect.bordered {
     
        stroke: #A1A1A1;
        stroke-width:1px;  
      }

text.mono {
     
        font-size: 12pt;
        font-family: Consolas, courier;
        fill: #000;
      }

text.axis-workweek {
     
        fill: #000;
      }

text.axis-worktime {
     
        fill: #000;
      }