{% extends "base.html" %}
{% block content %}

	<div><h2 class = "subtitle">Metadata Distribution among Samples</h2></div>

<button type="button" id="resetSelection" style = "visibility: visible">Reset Sample Selection.</button>
<button type = "button" id="updateSelection" style = "visibility: hidden;">Update Sample Selection.</button>
<div><h4 class = "subtitle">Nationality</h4></div>
<div id='histo1'></div>
<div><h4 class = "subtitle">Sex</h4></div>
<div id='histo2'></div>
<div><h4 class = "subtitle">BMI Group</h4></div>
<div id='histo3'></div>
<div><h4 class = "subtitle">Age Distribution</h4></div>
<div id='histo4'></div>

<script type="text/javascript" >
    dataset = {{ data | safe }};
</script>
<script src="{{ url_for('static', filename='visualizations/histograms/histograms.js') }}"></script>

{% endblock %}