{% extends "base.html" %}
{% block content %}
<script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='visualizations/sidebyside/sidebyside.css') }}" >

<script type="text/javascript">
    dataset = {{ data | safe }};
	dataset_samples = {{ data_sampl | safe}};
	dataset_taxonomy = {{ data_taxo | safe}};
</script>

<div id = "colwrap_sbs">
<div class = "whitetext">Select Samples using the Cluster Plot</div>
<div id = "butt"><button type="button" id="resetSelection">Reset Sample Selection.</button></div>
<button type="button" id="updateData">Update Plots with Selection</button>
<button type="button" id="updatePCA", style = "opacity:0">This should not be visible.</button>
</div>
<div class = "rowwrap">
	<div id = "leftvis" ><iframe src="{{url_for('sunburst')}}" name = "leftvis" scrolling = "no"></iframe></div>
	<div id = "middlevis"><iframe src="{{url_for('histograms')}}"  name = 'middlevis' scrolling = "no"></iframe></div>
	<div id = "rightvis"><iframe src="{{url_for('clustering')}}"  name = 'rightvis' scrolling = "no"></iframe></div>
</div>
<div class = "rowwrap2"> 
	<div id = "leftvis2" ><iframe src="{{url_for('male')}}" name = "leftvis2" scrolling = "no" ></iframe></div>
	<div id = "rightvis2"><iframe src="{{url_for('BMI_heatmap')}}"  name = 'rightvis2' scrolling = "no" ></iframe></div>

 <script src="{{ url_for('static', filename='visualizations/sidebyside/sidebyside.js') }}"></script>  

</div>

{% endblock %}
