{% block content %}
<html>
	<body>
		<button type="button" id="ButtonSB">categorical/proportional</button>
		<div id = "sunBurst"></div>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='visualizations/sunburst_and_tree/sunburst_plot_style.css') }}" >
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='baseStyle.css') }}" >
<script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>

<script type="text/javascript">
	dataset_samples = {{ data_sampl | safe}};
	dataset_taxonomy = {{ data_taxo | safe}};
</script>

<script src="{{ url_for('static', filename='visualizations/sunburst_and_tree/sunburst_plot_2.js') }}"></script>
</body>	
</html>
{% endblock %}
