{% extends "base.html" %}
{% block content %}
<body>
<form>
<b> Select the PCA result of a specific group </b>
<select id = "myList" onchange = "window.location.href=this.value" >
<option> ---Choose group--- </option>
<optgroup label="Sex">
<option value="male"> Male </a></option>
<option value="female"> Female </a></option>
	
<optgroup label="Nationality">
<option value="Scandinavia"> Scandinavia </a></option>
<option value="CentralEurope"> CentralEurope </a></option>
<option value="US"> US </a></option>
<option value="UKIE"> UKIE </a></option>
<option value="SouthEurope"> SouthEurope </a></option>
<option value="EasternEurope"> EasternEurope </a></option>
	
<optgroup label="BMI">
<option value="lean"> Lean </a></option>
<option value="morbidobese"> Morbidobese </a></option>
<option value="obese"> Obese </a></option>
<option value="overweight"> Overweight </a></option>
	
<optgroup label="Age">
<option value="Age15_24"> Age15_24 </a></option>
<option value="Age25_34"> Age25_34 </a></option>
<option value="Age35_44"> Age35_44 </a></option>
<option value="Age45_54"> Age45_54 </a></option>
<option value="Age55_64"> Age55_64 </a></option>
<option value="Age65_74"> Age65_74 </a></option>
<option value="Age75_84"> Age75_84 </a></option>
</select>

</form>

</body>
<div id="lean"></div>
<head>
    <left>Search for specific bacteria</left>
</head>
<body>
    <div class="form-container">
              <form class="form">
                  <input id="search" type="text" class="input" placeholder="search..."/>
                  <button id="clear" class="clear-results">clear</button>
              </form>
    </div>
    <div class="results-container>
       <ul class="results-list" id="list"> </ul>
    </div>
</body>
<script type="text/javascript" >
    dataset = {{ data | safe }};
</script>
<script src="{{ url_for('static', filename='visualizations/PCA/lean.js') }}"></script>

{% endblock %}
