#sunBurst{font: 10pt sans-serif; color: black; fill: gray; stroke: none;}

.sunBurst_field{opacity: 0.9; stroke: black; stroke-width: 0.7; font-stretch: extra-condensed;}
.sunBurst_field:hover{opacity: 1.0; stroke: black; stroke-width: 1;}


.categorical{
  font-size: 9pt;
}

#centertext{opacity: 0.2;}

.tooltip{color: white;
        border-radius: 5px;
        background-color: black;
        padding: 5px;     
        font: 8pt sans-serif;
    }

.textlabels{opacity: 0.7;
}
.textlabels--active{opacity: 1;
}
#tooltiptext{color:white; font: 8pt sans-serif;}

#clusterInfoBox{position: absolute ;
           top: 200px;
           left: 0px;
        }

#ButtonSB{
    transition: border-radius 1s, border-color 100ms;}

#ButtonSB.unclicked{ background: white;
    border-radius: 4px;}
#ButtonSB.clicked{ 
    background: #EEEEEE  ;
    border-radius: 4px;}
#ButtonSB2.unclicked{ background: white;
    border-radius: 4px;}
#ButtonSB2.clicked{ 
    background: #EEEEEE  ;
    border-radius: 4px;}
#InfoButton.unclicked{ background: white;
    border-radius: 4px;}
#InfoButton.clicked{ 
    background: #EEEEEE  ;
    border-radius: 4px;}
