.flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center;
    gap: 1rem; */
}

#resetSelection {
    margin-left: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

h2.subtitle {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

#buttonRow {
    margin-left: 1.5rem;
}

#sunBurst {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font: 0.6rem sans-serif;
    color: black;
    fill: gray;
    stroke: none;
}

.sunBurst_field {
    opacity: 0.9;
    stroke: black;
    stroke-width: 0.05rem;
    font-stretch: extra-condensed;
}

.sunBurst_field:hover {
    opacity: 1.0;
    stroke: black;
    stroke-width: 0.07rem;
}


.categorical {
    font-size: 0.55rem;
}

#centertext {
    opacity: 0.2;
}

.tooltip {
    color: white;
    border-radius: 0.04rem;
    background-color: black;
    padding: 0.5rem;
    font: 0.5rem sans-serif;
}

.textlabels {
    opacity: 0.7;
}

.textlabels--active {
    opacity: 1;
}

#tooltiptext {
    color: white;
    font: 0.5rem sans-serif;
}

#infoBox {
    position: absolute;
    top: 20rem;
    left: 0rem;
    background: rgb(185, 205, 207);
    margin: 1rem;
    width: 45%;
    border: solid;
    padding: .5rem;
    border-radius: 1rem;
}

#ButtonSB {
    transition: border-radius 1s, border-color 100ms;
}

#ButtonSB.unclicked {
    background: white;
    border-radius: 4px;
}

#ButtonSB.clicked {
    background: #EEEEEE;
    border-radius: 4px;
}

#ButtonSB2.unclicked {
    background: white;
    border-radius: 4px;
}

#ButtonSB2.clicked {
    background: #EEEEEE;
    border-radius: 4px;
}

#InfoButton.unclicked {
    background: white;
    border-radius: 4px;
}

#InfoButton.clicked {
    background: #EEEEEE;
    border-radius: 4px;
}

@media (max-width: 600px) {
    .flexbox {
        flex-direction: column-reverse;
    }
}