{% extends "base.html" %}
{% block content %}

	<div><h2 class = "subtitle">Metadata Distribution among Samples</h2></div>

<button type="button" id="resetSelection" style = "visibility: visible">Reset Sample Selection.</button>
<button type = "button" id="updateSelection" style = "visibility: hidden;">Update Sample Selection.</button>

<div class="flexbox" id="histogramContainer">
<div class="item">
<h4 class = "subtitle">Nationality</h4>
<div id='histo1' class="hist"></div>
</div>
<div class="item">
<h4 class = "subtitle">Sex</h4>
<div id='histo2' class="hist"></div>
</div>
<div class="item">
<h4 class = "subtitle">BMI Group</h4>
<div id='histo3' class="hist"></div>
</div>
<div class="item">
<h4 class = "subtitle">Age Distribution</h4>
<div id='histo4' class="hist"></div>
</div>
</div>


<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/histograms.css') }}" >
<script type="text/javascript" >
    dataset = {{ data | safe }};
</script>
<script src="{{ url_for('static', filename='js/histograms.js') }}"></script>

{% endblock %}