{% extends "base.html" %}
{% block content %}
    
     <div class="main-container">
        <section class="landing-intro">
            <p style="font-family: Arial, Verdana">
                The human intestines have a variety of
                microbiomes that can provide
                indications about health aspects of certain population groups.

                To explore the relationship of
                microbiomes and health
                within population, the respective
                abundance distributions of the microbiomes can be
                investigated.

                The following interactive
                visualizations contain information about distributions and correlations of
                microbiomes and the corresponding
                population groups, as well as clustering of some interesting aspects of the abundances.
            </p>

            <div class="cta-container">
                <h2><a href="{{ url_for('sidebyside') }}" class="explore-button">CLICK HERE TO EXPLORE</a></h2>
            </div>
        </section>

        <div class="landing-image">
            <img src="../static/images/microbiome_image.jpg" alt="Microbiome image">
        </div>

        <footer class="footer-links">
            <a >Individual visualizations:</a>
            <a href="{{ url_for('sunburst') }}">Sunburst</a> |
            <a href="{{ url_for('histograms') }}">Histograms</a> |
            <a href="{{ url_for('clustering') }}">Clustering</a> |
            <a href="{{ url_for('tree') }}">Taxonomy</a>
        </footer>
    </div>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing_page.css') }}">


{% endblock %}