{% extends "base.html" %}
{% block content %}

<div id="colwrap_sbs">
	<div id="butt"><button type="button" id="resetSelection">Reset Sample Selection.</button></div>
	<button type="button" id="updateData">Update Plots with Selection</button>
</div>
<div class="rowwrap">
	<div id="leftvis"><iframe src="{{url_for('sunburst')}}" name="leftvis" scrolling="no"></iframe></div>
	<div id="middlevis"><iframe src="{{url_for('histograms')}}" name='middlevis' scrolling="no"></iframe></div>
	<div id="rightvis"><iframe src="{{url_for('clustering')}}" name='rightvis' scrolling="no"></iframe></div>
</div>


<script src="{{ url_for('static', filename='js/sidebyside.js') }}"></script>
<script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebyside.css') }}">

<script type="text/javascript">
	dataset = {{ data | safe }};
	dataset_samples = {{ data_sample | safe }};
	dataset_taxonomy = {{ data_taxo | safe }};
</script>

{% endblock %}