{% extends "base.html" %}
{% block content %}

<div>
	<h2 class="subtitle">Bacterial Lineage and Abundance</h2>
</div>

<div class="flexbox">
	<div id="buttonRow">
		<button type="button" id="ButtonSB">abundance/categorical view</button>
		<button type="button" id="ButtonSB2">absolute/relative data view</button>
		<button type="button" id="InfoButton">explanation</button>
		<button type="button" id="updateData" style="visibility: hidden">update Data</button>
		<label for="SBcheckbox"><input type="checkbox" id="SBcheckbox" value="yes"> toggle superclass
			highlighting</label>
	</div>
	<div id="sunBurst"></div>
	<div id="infoBox"></div>
</div>


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sunburst.css') }}">
<script type="text/javascript">
	dataset_samples = {{ data_sample | safe }};
	dataset_taxonomy = {{ data_taxo | safe }};
</script>

<script src="{{ url_for('static', filename='js/sunburst.js') }}"></script>
{% endblock %}